body {
	background-color: linen;
}

p {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1 {
	color: #d05d88;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

h2 {
	color: #b5acaf;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
